<footer class="flexbox navbar navbar-inverse navbar-fixed-bottom nav" id="footer">
    {{#each footer-menu}}
        <a href={{href}} class="icon">
            <i class="fa {{icon}} fa-lg"></i>
            <span>{{label}}</span>
        </a>
    {{/each}}
</footer>
