<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YAP - Peer Mentor</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom CSS -->
    <link href="css/yap.css" rel="stylesheet">
</head>

<body>
    <h1 class="title">Peer Mentor</h1>
    <div class="login-box col-md-12">
        <br>
        <br>
        <br>
        <div class="col-xs-12 col-lg-6">
            <div class="button" id="fb"><i class="fa fa-facebook-official fa-2x">  Sign In with Facebook</i></div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="button" id="google"><i class="fa fa-google fa-2x">  Sign In with Google</i></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/yap.js"></script>
        {{> googleAnalytics}}
</body>
<style>
h1 {
    text-align: center;
}
    .col-xs-12 {
        text-align: center;
    }
.login-box {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 40rem;
    border-radius: 5px;
    margin: 10rem auto;
}
.login-box h1 {
    text-align: center;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
#fb {
    background-color: #3b5998;
    margin: 1.5em auto;
}
#google {
    background-color: #d62d20;
    margin: 1.5em auto;
}
div:hover {
    color: #000;
}

</style>
