<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../css/yap.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
    <body>
        <div id="wrapper">
        <div class="content" id="page-content-wrapper">
          <!--   <div class="container">
                <div class="switch white">

                			<input type="radio" name="switch" id="switch-off">
                			<input type="radio" name="switch" id="switch-on" checked>

                			<label for="switch-off">Off</label>
                			<label for="switch-on">On</label>

                			<span class="toggle"></span>

                </div> 
            </div>end switch -->
        <div class="section group" id="profile-details">
            <div class="row">
                <div class="list-box col-xs-12" id="white-box">
                    <div class="box" id="blue-box">
                        <div class="inner row">
                            <div class="profile col-xs-4">
                                <img class="img-circle" src="img/profile-arvind.jpg" id="image-front">
                            </div>
                            <div class="col-xs-8" id="name-rating">
                                <div class="row" id="name" contentEditable="true">
                                    <h3 id="responsive-name">Arvind Kalathil</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="physics-box">
                        <h3><center>Want to Teach</center></h3>
                           {{#each classes}}
                                <div class= "name" id="class-details">
                                    <div class="course-details">
                                        <c class="alignleft" contentEditable="true">{{sectionID}}</c>
                                        <a class="aligncenter">Set your rate: </a> <a contentEditable="true">${{rate}} </a>
                                    </div>
                                </div>
                            {{/each}}

                        </div>

                        <div class="row" id="physics-box2">
                        <h3><center>Want to Learn</center></h3>
                           {{#each desire}}
                                <div class= "name" id="class-details-2">
                                    <div class="course-details-2">
                                        <c contentEditable="true">{{sectionID}}</c>
                                    </div>
                                </div>
                            {{/each}}

                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- side-bar -->

</div>
        <footer class="flexbox navbar navbar-inverse navbar-fixed-bottom nav" id="footer">

            <a href="javascript:history.back()" class="icon">
                <i class="fa fa-angle-double-left fa-lg"></i>
                <span>Back</center>
             </a>
             <a href="#" class="icon">
                 <i class="fa fa-user fa-lg"></i>
                 <span>Profile</center>
             </a>
            <a href="/messenger" class="icon">
                <i class="fa fa-comments fa-lg"></i>
                <span>Message</center>
            </a>
            <a href="#menu-toggle" id="menu-toggle" class="icon">
              <i class="fa fa-bars fa-lg"></i>
              <span>More</span>
            </a>
        </footer> 
        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <script src="/js/yap.js"></script>

        <!-- /#sidebar-wrapper -->
        <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        </script>
     {{> googleAnalytics}}
     
    </body>
    <style>
    /* ---------- SWITCH ---------- */
         {
        	height: 24px;
        	margin: -32px 0 0 -80px;
        	position: absolute;
        	width: 60px;
            z-index: 1000;
        }

        .switch {
        	background: #fff;
        	border-radius: 32px;
        	display: block;
        	height: 24px;
        	position: relative;
        	width: 60px;
        }

        .switch label {
        	color: #fff;
        	font-size: 30px;
        	font-weight: 300;
        	line-height: 30px;
        	text-transform: uppercase;
        	-webkit-transition: color .2s ease;
        	-moz-transition: color .2s ease;
        	-ms-transition: color .2s ease;
        	-o-transition: color .2s ease;
        	transition: color .2s ease;
        	width: 100px;
        }

        .switch label:nth-of-type(1) {
        	left: -75%;
        	position: absolute;
        	text-align: right;
        }

        .switch label:nth-of-type(2) {
        	position: absolute;
            right: -75%;
        	text-align: left;
        }

        .switch input {
        	height: 24px;
        	left: 0;
        	opacity: 0;
        	position: absolute;
        	top: 0;
        	width: 60px;
        	z-index: 2;
        }

        .switch input:checked~label:nth-of-type(1) { color: #fff; }
        .switch input:checked~label:nth-of-type(2) { color: #808080; }

        .switch input~:checked~label:nth-of-type(1) { color: #808080; }
        .switch input~:checked~label:nth-of-type(2) { color: #fff; }

        .switch input:checked~.toggle {
        	left: 4px;
        }

        .switch input~:checked~.toggle {
        	left: 100px;
        }

        .switch input:checked {
        	z-index: 0;
        }

        .toggle {
        	background: #4a4a4a;
        	border-radius: 50%;
        	height: 24px;
        	left: 0;
        	position: absolute;
        	top: 4px;
        	-webkit-transition: left .2s ease;
        	-moz-transition: left .2s ease;
        	-ms-transition: left .2s ease;
        	-o-transition: left .2s ease;
        	transition: left .2s ease;
        	width: 60px;
        	z-index: 1000;
        }
        h3{
            font-size: 27px;
        }
        .box {
            border: 1px solid black;
            border-radius: 5px;
            height: inherit;
            background-color: #f4f4f5;
        }
        .list-box {
            margin: 10px auto;
            height: 25px;
        }
        .inner {
            margin: 0px;
        }
        .fa-star {
            color: #F5E050;
            text-shadow: 2px 2px 2px #ccc;
            text-align: center;

        }
        .profile {
            padding: 7px;
        }
        .img-circle {
            width: 100px;
            height: 100px;
            border: 2px solid black;
            border-radius: 50%;
        }
        .skill-box {
            font-size: 16px;
            display: inline-block;
            border: 1px solid ##55B4B0;
            border-radius: 5px;
            text-align: center;
            margin: 5px 5px;
            left: 20px;
            top: 5px;
            right: 20px;
            background-color: #55B4B0;
            color: white;
        }
        .skill-box-expanded{
            font-size: 16px;
            display: inline-block;
            border: 5px solid ##55B4B0;
            border-radius: 5px;
            text-align: center;
            margin: 0px 5px;
            left: 20px;
            top: 5px;
            right: 20px;
            background-color: blue;
        }
        .course-details{
            text-align: left;
            font-size: 1.3em;
        }
        .course-details-2{
            font-size: 1.3em;
        }
        #name{
            text-align: center;
        }
        #name-rating{
            padding-left: 0px;
        }
        #blue-box{
            height: 100%;
            background-color: #D3D3D3;
        }
        #profile-details{
            background-color: #034f84;
            height: 5000px;
            width: 100%;
            position: relative;
        }
        #physics-box{
            margin: 0 auto;
        }
        #physics-box2{
            margin: 0 auto;
        }
        #physics-details{
            height:50%;
            width:87%;
            margin: 5 auto;
        }
        #chemistry-box{
            margin: 0 auto;
        }
        #chemistry-details{
            height:50%;
            width:87%;
            margin: 5 auto;
        }
        #white-box{

            height: 100%;
            width: 99%;
            margin-left: auto;
            margin-right: auto;
        }
        #rating{
            text-align: center;
            font-size: 2.5em;
        }
        #contact-button{
            background-color: gray;
            border: none;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
        }
        #class-details{
            box-shadow: inset 0px 1px 4px #666;
            background: white;
            overflow:hidden;
        }
        #class-details-2{
            box-shadow: inset 0px 1px 4px #666;
            background: white;
            overflow:hidden;
        }
        #image-front{
            z-index: +1; position:relative;
        }
        #responsive-name{
            box-shadow: inset 0px 1px 4px #666;
            background: white;
        }
        b{
            font color="red";
        }
    </style>

</html>
