<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../css/yap.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- listing -->
    <div id="wrapper">
    <div class="content" id="page-content-wrapper">
        <div class="section group" id="teach-listing">
            <h2>Search Results!!</h2>
            <br>
            <div class="row" id="input-row">
                <input type="text" name="search" id="search-text"></input>
                <a href="#" id="search">
                    <i class="fa fa-search fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- side-bar -->
    {{> side-bar}}
</div>
    <!-- footer -->
    {{> footer}}
    {{> googleAnalytics}}

</body>
<style>
    h3{
        font-size: 27px;
    }
    #input-row {
        text-align: center;
    }
    #teach-listing {
        text-align: center;
    }
    #search-text {
        font-size: 1.3em;
    }
    .list-box {
        margin: 10px auto;
        height: 156px;
    }
    .inner {
        margin: 0px;
    }
    .icon-label {
        font-size: 15px;
    }
    .header-icon {
        font-size: 1.15em;
    }
    .fa-star {
        color: #F5E050;
        text-shadow: 2px 2px 2px #ccc;
        text-align: center;

    }
    .profile {
        padding: 7px;
    }
    .img-circle {
        width: 100px;
        height: 100px;
        border: 2px solid black;
        border-radius: 50%;
    }
    .skill-box {
        font-size: 16px;
        display: inline-block;
        border: 1px solid ##55B4B0;
        border-radius: 5px;
        text-align: center;
        margin: 0px 5px;
        left: 20px;
        top: 5px;
        right: 20px;
        background-color: #55B4B0;
        color: white;
    }
    .content, #teach-listing{
        background-color: #00b2ca;
    }
    body {
        background-color: #00b2ca;
    }
</style>

</html>
